@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
/* only 1024px */
*,
html {
  -webkit-tap-highlight-color: transparent;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

@media only screen and (max-width: 63.9375em) {
  .npd-top-menu-expanded {
    @apply absolute top-full translate-y-[-1px] z-50 w-full left-0 bg-white flex flex-col items-center h-0 overflow-hidden transition-all duration-500;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 8px 0px;
  }
}

.npd-height-active {
  @apply h-auto;
}

.npd-top-menu-item {
  @apply hover:text-gray-800 hover:font-medium cursor-pointer lg:py-1 py-[9px] transition-all ease-in-out duration-300 relative after:lg:absolute after:lg:bottom-0 after:lg:left-0 after:lg:bg-coffee-200 after:lg:w-0 after:lg:hover:w-full after:lg:transition-all after:lg:h-0.5 after:lg:duration-300 after:lg:rounded;
}

.npd-item-active {
  @apply text-gray-800 font-medium;
}

#npd-toggle-top-menu-icon * {
  pointer-events: none;
}

.npd-icon {
  @apply h-5 w-5 inline-block cursor-pointer;
}

.npd-badge-circle {
  @apply text-xs text-center rounded-full px-1.5;
}

.npd-subheadline {
  @apply flex justify-center items-center my-[100px];
}

.npd-subheadline-deco-line {
  @apply w-8 h-px bg-[#e5e5e5];
}

.npd-subheadline-label {
  @apply text-[#1d1f2e] text-xs uppercase mx-4 font-bold leading-[18px] text-opacity-[0.65] tracking-[2px] text-center;
}

/* featrure mugs */

.npd-drinks-on-sale {
  @apply capitalize absolute right-[10px] top-[10px] text-coffee-300 font-[700] py-[6px] px-4 bg-white cursor-default pointer-events-none z-[100];
}

.npd-btn-explore-mug {
  @apply absolute bottom-[10px] left-[10px] right-[10px] bg-[#fafafa] bg-opacity-90  opacity-0 transition-all duration-200 ease-linear translate-y-2 invisible group-hover:visible group-hover:opacity-100 group-hover:translate-y-0 hover:bg-opacity-100 text-center uppercase py-[18px] px-6 text-xs tracking-[2px] font-[700] block text-[#161724];
}

.npd-drinks-name {
  @apply text-center text-main-word text-[20px] leading-[30px] mt-[10px] mb-[5px];
}

.npd-no-sale-off {
  @apply text-center text-base leading-7 text-main-word opacity-75;
}

.npd-sale-off {
  @apply text-center text-xl leading-8 text-coffee-300 mr-[10px];
}

.npd-old-price {
  @apply leading-7 text-base text-main-word opacity-50 line-through;
}

/* magazine */
.npd-btn {
  @apply text-center uppercase py-[18px] px-6 text-xs tracking-[2px] font-[700] transition-all duration-200 ease-linear hover:bg-opacity-90;
}

/* footer */

.npd-menu-footer {
  @apply text-main-word text-xs font-bold tracking-[2px] leading-[18px] uppercase mb-5;
}

.npd-footer-item {
  @apply text-main-word text-sm leading-[22px] mb-[10px] text-opacity-60 transition-all ease-linear duration-300 hover:text-coffee-300 hover:text-opacity-100;
}
